{% extends 'base.html.twig' %}

{% block title %}Pažymiai{% endblock %}

{% block body %}

    <div class="container">
    <div style="width: 300px">
        {{ form_start(form) }}
        {{ form_widget(form.date) }}
        <button class="btn btn-primary">{{ button_label|default('Ieškoti') }}</button>
        {{ form_end(form) }}
    </div>
        <h1>Pažymiai</h1>
        <div class="example-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>

                         <td>{{ user.date ? user.date|date('Y-m-d') : '' }}</td>
                        < <td>{{ user.subject }}</td>
                        < <td>{{ user.grade }}</td>
                    </tr>
                {% if users == 0 %}
                    <tr>
                        <td colspan="11">Nėra duomenų</td>
                    </tr>
                {% endif %}

                {% endfor %}
                </tbody>
            </table>
{% endblock %}