{% extends 'base.html.twig' %}

{% block title %}Pamokų tvarkaraštis{% endblock %}

{% block body %}


        <h1>Pamokų tvarkaraštis</h1>
        <div class="example-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Pirmadienis</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% if user.date == 'Pirmadienis' %}
                        <tr>
                            <td>{{ " " }}{{ user.subject}}{{ "-" }}{{ user.time }}</td>
                        </tr>

                    {% endif %}
                    {% if users == 0 %}
                        <tr>
                            <td colspan="11">Nėra duomenų</td>
                        </tr>
                    {% endif %}

                {% endfor %}
                </tbody>
            </table>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Antradienis</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            {% if user.date == 'Antradienis' %}
                                <tr>
                                    <td>{{ " " }}{{ user.subject}}{{ "-" }}{{ user.time }}</td>
                                </tr>

                            {% endif %}
                            {% if users == 0 %}
                                <tr>
                                    <td colspan="11">Nėra duomenų</td>
                                </tr>
                            {% endif %}

                        {% endfor %}
                        </tbody>
                    </table>
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Trečiadienis</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        {% if user.date == 'Trečiadienis' %}
            <tr>
                <td>{{ " " }}{{ user.subject}}{{ "-" }}{{ user.time }}</td>
            </tr>

        {% endif %}
        {% if users == 0 %}
            <tr>
                <td colspan="11">Nėra duomenų</td>
            </tr>
        {% endif %}

    {% endfor %}
    </tbody>
    </table>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Ketvirtadienis</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.date == 'Ketvirtadienis' %}
                <tr>
                    <td>{{ " " }}{{ user.subject}}{{ "-" }}{{ user.time }}</td>
                </tr>

            {% endif %}
            {% if users == 0 %}
                <tr>
                    <td colspan="11">Nėra duomenų</td>
                </tr>
            {% endif %}

        {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Penktadienis</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.date == 'Penktadienis' %}
                <tr>
                    <td>{{ " " }}{{ user.subject}}{{ "-" }}{{ user.time }}</td>
                </tr>

            {% endif %}
            {% if users == 0 %}
                <tr>
                    <td colspan="11">Nėra duomenų</td>
                </tr>
            {% endif %}

        {% endfor %}
        </tbody>
    </table>

{% endblock %}