{% extends 'base.html.twig' %}

{% block title %}Pastabos{% endblock %}

{% block body %}


        <h1>Pastabos</h1>
        <div class="example-wrapper table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Mokytojas</th>
                    <th scope="col">Dėstomas dalykas</th>
                    <th scope="col">Pastaba</th>
                    <th scope="col">Data</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>

                        <td>{{ user.id }}</td>
                        <td>{{ user.teacher }}</td>
                        <td>{{ user.subject }}</td>
                        <td>{{ user.observationText }}</td>
                        <td>{{ user.date ? user.date|date('Y-m-d') : '' }}</td>
                    </tr>
                {% if users == 0 %}
                    <tr>
                        <td colspan="11">Nėra duomenų</td>
                    </tr>
                {% endif %}

                {% endfor %}
                </tbody>
            </table>
{% endblock %}